<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Eagle_Finance_Utility.Properties.Settings.BPW_PRD_CustomConnectionString"
            connectionString="Data Source=172.16.9.12;Initial Catalog=BPW_PRD_Custom;Persist Security Info=True;User ID=Alewis;Password=P@ssw0rd!123456"
            providerName="System.Data.SqlClient" />
        <add name="Eagle_Finance_Utility.Properties.Settings.STD_BPW_PRD_StagingConnectionString"
            connectionString="Data Source=172.16.9.12;Initial Catalog=STD_BPW_PRD_Staging;Persist Security Info=True;User ID=Alewis;Password=P@ssw0rd!123456"
            providerName="System.Data.SqlClient" />
        <add name="Eagle_Finance_Utility.Properties.Settings.M3ViewsConnectionString"
            connectionString="Data Source=172.16.9.12;Initial Catalog=M3Views;Persist Security Info=True;User ID=Alewis;Password=P@ssw0rd!123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>